<div class= "orders"
<p>First Name: <%= @pizza.first_name() %> </p>
<p>Last Name: <%= @pizza.last_name() %> </p>
<p>Topping: <%= @pizza.topping() %> </p>
<p>Order: <%= @pizza.quantity() %> X <%= @pizza.topping() %> </p>
</div>

<form action="/pizzas/<%= @pizza.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

<!-- <a href="/pizzas/<%= @pizza.id %>/edit">Edit Order</a> -->
